
<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">

        
      <div class="row no-gutters block-9">      

        <div class="col-md-8 order-md-last d-flex">

           
<div class="input-group">
    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onFileSelected($event)" #fileInput>
    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="onUpload()">Upload</button>
 
  </div>

                        

        </div>

      </div>
    </div>
</section>


